<% include partials/header %>




<!-- Introductory header -->
<div class="header">
<h1>Timezone: <%=data["timezone"]%></h1><br>


<p class="intro_text"> Overall: <%= data["currently"]["summary"]%> | Currently: <%= data["currently"]["icon"]%></p> <br>

</div>


<!-- temperature wrap, uv, suggestions -->
<div class="temperature">

<!--sunny or snowflake icon -->
<% if(data.currently.temperature > 69) {%>
<i class="far fa-sun"></i>
<%} else {%>
<i class="far fa-snowflake"></i>
<%}%>


<!-- uv index, suggestion, and temp -->
<div class="row">
    <div class="col-sm-4">
        <h3 class="uv-info">UV Indexⓘ
            <span class="tooltiptext"> UV index is an international standard measurement of the strength of sunburn-producing
                ultraviolet radiation</span></h3>
       <p class="suggest-text"><%= data["currently"]["uvIndex"]%> </p> 
        

    <% if(data.currently.uvIndex >= 8) {%>
        <button type="button" class="btn btn-danger">Dangerous</button>
    <%} else if(data.currently.uvIndex >= 4){%>
        <button type="button" class="btn btn-warning">Be Cautious</button>
    <%} else {%>
        <button type="button" class="btn btn-success">Safe & Sound</button>
    <%}%>

    </div>

    <div class="col-sm-4">
        <p class="fahrenheit_label"><%= data["currently"]["temperature"]%> °F</p>
    </div>

    <div class="col-sm-4">

        <h3>Helpful Advice</h3>
        <% if(data.currently.temperature > 69) {%>
      
            <ul class="suggest-list">
                <li>Stay hydrated</li>
                <li>Wear sunscreen</li>
                <li>Dress lightly</li>
                <li>Put on some shades</li>
            </ul>


        <%} else {%>
            <ul class="suggest-list">
                <li>Wrap yourself in clothes</li>
                <li>Have a warm cup of coffee</li>
                <li>Consider a cardio workout</li>
                <li>Apply lip balm on your lips</li>
            </ul>
        <%}%>
    </div>

</div>

</div>


<div class="other">


<i class="fas fa-wind"></i>




</div>










<% include partials/footer %>





<!-- The temperature is <%= data["currently"]["temperature"]%> Fahrenheit. <br> -->
<!-- the precip is <%= data["currently"]["precipProbability"]%> -->